{% extends "ordemDeServico/os_base.html" %}
{% block title %} Visualizar OS {% endblock %}

{% block options %}

    <div class="row">

        <div class="col-md-12">

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"> <b>ORDEM DE SERVIÇO</b> </h3>
                </div>


                    <div class="box-body">
                       {% for key, value in ordemDeServico.items %}
                           <div class="form-group">
                                <label  class="col-sm-2 control-label"> {{ key }} </label>
                                {{ value}}
                           </div>
                       {% endfor %}

                    </div>

            </div>


        </div>

    </div>

{% endblock%}

{% block list %}
    <form method="post">
        {% csrf_token %}
        {{ form_consulta }}
        {{ submit|safe}}
    </form>
{% endblock %}
